#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	rm -rf debian/tmp
	# mv configure configure.ac
	dh $@ $(DHFLAGS)

override_dh_install:
	mv debian/vala-panel2 debian/tmp
	dh_install --list-missing

